.main {
  background-color: rgb(4, 99, 163);
  background-image: url("./SL-013020-27540-03.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  text-align: center;
  padding: 24px;
  position: relative;
}
.logo {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.picker {
  padding: 24px;
}

.meters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.attributions {
  display: none;
}
@media screen and (min-width: 1024px) {
  .attributions {
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
